[package]
name = "whatsapp_number_extractor"
version = "0.1.0"
edition = "2024"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = "s"
strip = "symbols"
panic = "abort"

[dependencies]
regex = "1"
